/* Halaman Login */
*{
    font-family: tahoma;
}
body{
    box-sizing: border-box;
    background-color: #efefef;
}
.login{
    background-color:rgba(22, 33, 55, 0.2);
    width: 500px;
    height: 300px;
    margin: 100px auto;
    border-radius: 40px;
}
.login-input-username{
    padding-left: 90px;
    padding-top: 10px;
}
.login-input-password{
    padding-left: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.login>h2{
    padding-top: 30px;
    text-align: center;
    color: black;
    font-size: 30px;
}
.sama>input{
    border-radius: 20px;
    height: 25px;
    width: 300px;
}
.sama>label{
    color: black;
}
.kirim>a{
    color: black;
    text-decoration: none;
    font-style: italic;
}
.kirim{
    padding-left: 150px;
}
.kirim>a{
    padding-right: 10px;
}
.kirim>input{
    border-radius: 10px;
    height: 30px;
    background-color: #efefef;
}
.kirim>input:hover{
 cursor: pointer;
 background-color: aqua;
}
#username{
    border-radius: 20px;
    width: 300px;
    height: 25px;
}
#password{
    border-radius: 20px;
    width: 300px;
    height: 25px;
}
/* Halaman Register */
.register{
    background-color:rgba(22, 33, 55, 0.2);
    width: 300px;
    height: 400px;
    margin: 100px auto;
    border-radius: 20px;
}
.register-kirim>button>a{
    text-decoration: none;
}
.register>h2{
    padding-top: 20px;
    padding-left: 39px;
}
.register-input{
    padding-left: 39px;

}
.register-input>input{
    width: 210px;
    border-radius: 20px;
    height: 30px;
    border: none;
}
.register-input:active
{
    border: none;
    border-radius: 20px;
}
.register-input:hover{
    border: none;
    border-radius: 20px;
}
.register-kirim{
    padding-left: 125px;
    padding-top: 15px;
}
.register-kirim>button>a{
    color: black;
}
.register-kirim>button{
    border-radius: 20px;
    height: 30px;
}
.button-1:hover{
    background-color: aqua;
    cursor: pointer;
}
.button:hover{
    background-color: aqua;
}
/* Halaman Admin */
.navbar-1{
    background-color:rgba(22, 33, 55, 0.2);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display: inline;
    z-index: 2;
    
    margin-bottom: 0px;
    margin-left: 0px;
}
.selamat{
    float: left;
    padding-top: 3px;
}
.selamat>h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.keluar{
    float: left;
    padding-left: 950px;
    padding-top: 8px;
}
.keluar>button{
    border-radius: 20px;
    height: 35px;
    width: 90px;
    border: none;
    padding: 10px;
}
.keluar>button:hover{
    background-color: aqua;
}
.keluar>button>a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
/* menu */
.menu-item{
    margin-right: 10px;
}
.menu-item:hover{
    background-color: aqua;
}
.menu-item>a{
    text-decoration: none;
    color: black;
    font-size: px;
    display: inline;
}
li{
    display: inline;
    padding: 10px;
    background-color:#efefef;
    border-radius: 20px;
}
/* Tabel */
.tabel-crud{
    margin-top: 90px;
    margin-right: auto;
    margin-left: auto;
    width: 900px;
}
.tabel-crud>h2{
    font-style: italic;
    display: inline;
}
.tambah{
    border-radius: 10px;
    margin-left: 570px;
    padding: 5px;
}
.tambah:hover{
    cursor: pointer;
    background-color: aqua;
}
table{
    border-collapse: collapse;
    width: 900px;
    margin-right: auto;
    margin-top: 10px;
}
th{
    border-top: 1px solid coral;
    border-bottom: 3px solid;
    padding: 15px;
    text-align: left;
}
td{
    padding: 20px;
}
td>button{
    border-radius: 10px;
    padding: 6px;
    justify-content: center;
    border: none;
}
td>button:hover{
    background-color: aqua;
}
tr.genap{
    background-color:rgba(22, 33, 55, 0.2);
}
.button-ganjil{
    background-color:rgba(22, 33, 55, 0.2);
}
.akhir{
    border-bottom: 1px solid;
}
.footer{
    background-color:rgba(22, 33, 55, 0.2);
    width: 100%;
    height: 80px;
    margin-bottom: 0px;
    margin-top: 30px;
    z-index: 4;
    left: 0px;
    margin-left: 0px;
    position: absolute;
}
.footer p{
    padding-top: 0px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 30px;
}
/* halaman ubah password */
.ubah-password{
    background-color:rgba(22, 33, 55, 0.2);
    width: 400px;
    height: 350px;
    border: 1px solid;
    border-radius: 20px;
}
.ubah-password-button{
    border-radius: 20px;
    padding: 7px;
}
.ubah-password-button:hover{
    background-color: aqua;
}
.password-button{
    padding-top: 10px;
    padding-left: 318px;
}
.ubah-password-input>input{
    border-radius: 20px;
    font-size: 17px;
    color: coral;
    width: 350px;
    height: 30px;
}
.ubah-password-lama{
    margin: 90px auto;
    width: 400px;
    margin-bottom: 56px;
}
.bungkus{
    padding-top: 10px;
    padding-left: 20px;
}
.ubah-password-input{
    padding-top: 20px;
}
.ubah-password h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: inherit;
}
.peringatan{
    background-color: chartreuse;
}
.peringatan>p{
    color: brown;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: black;
}